node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/dist
/app
*.tgz

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.production.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#Rime
.rime
.cache
debug.md
/logs
db/*
static
src/hooks.server.ts
src/routes
drizzle.config.ts
src/app.generated.d.ts
src/rime.generated.d.ts
src/lib/+rime/*
src/lib/+rime.generated
src/lib/rime.config.ts
src/lib/rime.config.server.ts
src/lib/rime.schema.server.ts
src/lib/+config
assets/src
static/medias
test-results
pnpm-lock.yaml

.auto
/consumer-app-test
src/params
src/lib/site
/.zed
rime.code-workspace

/db
# rime
+rime.generated